<header class="header">

    <a href="http://127.0.0.1:8000/" class="logo"><span>b</span>logger</a>

    <nav class="navbar">
        <a href="{% url 'creation' %}">Création</a>
        <a href="{% url 'managearticle' %}">Articles</a>
        <a href="#contact">contact me</a>
    </nav>

    <div class="icons">
        <i class="fas fa-user" id="user-icon"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <i class="fas fa-bars" id="menu-bars"></i>
    </div>
    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>