{% extends "blog/base.html" %}
{% block title %}
<title>Les articles</title>
{% endblock %}
{% block content %}
<h2>Les articles {{ post.count }}</h2>
<ul>
    {% for liste in post %}
    <li><a href="{% url 'show' liste.id %}">{{ liste.title }} / {{ liste.author }} / {{ liste.category.count }}</a></li>
    {% endfor %}
</ul>

<h2>Les Categories {{ catego.count }}</h2>
<ul>
    {% for listeuse in catego %}
    <li>{{ listeuse.name }} : </li>
    {% endfor %}
</ul>



<section class="container" id="posts">

    <div class="posts-container">

        <div class="post">
            <!-- <img src="images/blog-1.jpg" alt="" class="image"> -->
            <div class="date">
                <i class="far fa-clock"></i>
                <span>1st may, 2021</span>
            </div>
            <h3 class="title">blog title goes here</h3>
            <p class="text">Lorem ipsum dolornctio. Fuga, esse velit!</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>by admin</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>

        <div class="post">
            <!-- <img src="images/blog-3.jpg" alt="" class="image"> -->
            <div class="date">
                <i class="far fa-clock"></i>
                <span>1st may, 2021</span>
            </div>
            <h3 class="title">blog title goes here</h3>
            <p class="text">Lodicta cupiditate pariatur soluta dolorum quis eum quibusdam quam?</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>by admin</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>

    </div>

    <div class="sidebar">

        <div class="box">
            <h3 class="title">about me</h3>
            <div class="about">
                <img src="blog/images/user.png" alt="">
                <h3>shaikh anas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, officia.</p>
                <div class="follow">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <h3 class="title">categories</h3>
            <div class="category">
                <a href="#"> travel <span>42</span></a>
                <a href="#"> photography <span>75</span> </a>
                <a href="#"> technology <span>22</span> </a>
                <a href="#"> fashion <span>17</span> </a>
                <a href="#"> study <span>48</span> </a>
                <a href="#"> science <span>39</span> </a>
                <a href="#"> music <span>59</span> </a>
                <a href="#"> public <span>12</span> </a>
                <a href="#"> business <span>32</span> </a>
                <a href="#"> sports <span>18</span> </a>
            </div>
        </div>

        <div class="box">
            <h3 class="title">popular posts</h3>
            <div class="p-post">
                <a href="#">
                    <h3>01. blog title goes here</h3>
                    <span><i class="far fa-clock"></i>1st may, 2021</span>
                </a>
                <a href="#">
                    <h3>02. blog title goes here</h3>
                    <span><i class="far fa-clock"></i>1st may, 2021</span>
                </a>
                <a href="#">
                    <h3>03. blog title goes here</h3>
                    <span><i class="far fa-clock"></i>1st may, 2021</span>
                </a>
                <a href="#">
                    <h3>04. blog title goes here</h3>
                    <span><i class="far fa-clock"></i>1st may, 2021</span>
                </a>
            </div>
        </div>

        <div class="box">
            <h3 class="title">popular tags</h3>
            <div class="tags">
                <a href="#">travel</a>
                <a href="#">photo</a>
                <a href="#">science</a>
                <a href="#">biology</a>
                <a href="#">aliens</a>
                <a href="#">nature</a>
                <a href="#">mountain</a>
                <a href="#">river</a>
                <a href="#">camp</a>
                <a href="#">landscape</a>
                <a href="#">world</a>
            </div>
        </div>

    </div>

</section>


{% endblock %}