{% extends "blog/base.html" %}
{% block title %}
<title>Les articles</title>
{% endblock %}
{% block content %}


<section class="banner" id="banner">

    <div class="content">
        <h3>LES ARTICES</h3>
        <h3>{{message}}</h3>
        <p>Les nouvelles Technologies</p>
    </div>

</section>


<section class="container" id="posts">
    <div class="posts-container">

        {% for liste in post %}
        <div class="post">
            <img src="{{ liste.image.url }}" alt="Image de l'article" class="image">
            <div class="date">
                <i class="far fa-clock"></i>
                <span>{{ liste.date }}</span>
            </div>
            <h3 class="title"><a href="{% url 'show' liste.slug %}">{{ liste.title }}</a></h3>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>By {{ liste.author }}</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
</section>



{% endblock %}